<div class="container">
    <p class="m-2 d-flex justify-content-around">Add new Server or Blueprint!</p>

    <div class="col-xs-12">
        <div class="row m-2">
            <div class="col-sm-6 form-floating">
                <input type="text" for="serverName"placeholder="serverName"  class="form-control" id="serverName">
                <label name="serverName">Server Name</label>
            </div>
            <div class="col-sm-6 form-floating">
                <input type="text" for="blueprintName"placeholder="blueprintName"  class="form-control" id="blueprintName">
                <label name="blueprintName">Blueprint Name</label>
            </div>
        </div>    
    </div>
    
    <div class="row">
        <div class="col-xs-12 m-2 d-flex justify-content-around">
                <button class="btn btn-dark">Add Server</button>
                <button class="btn btn-dark">Add Blueprint</button>
        </div>
       
    </div>
</div>
